* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
  color: yellow;
  background-image: linear-gradient(90deg, yellow, purple);
  font-family: 'Bungee Shade', cursive;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), */
  /* url(../sprites/shaq-header.jpeg); */
  background-repeat: no-repeat;
  background-size: cover;
  color: purple;
}

.gamegrid-wrapper {
  height: 750px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../sprites/staples-centre.jpeg),
    linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
  background-repeat: no-repeat;
  background-size: cover;
}

.gamegrid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border: 3px solid purple;
  border-radius: 5px;
  height: 750px;
  width: 750px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../sprites/Laker-court.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.gamegrid div {
  border: none;
  height: 5%;
  width: 5%;
}

.sidebar {
  margin-right: 20px;
}

.spaceship {
  background-image: url(../sprites/shaq-smile.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.laser {
  background-image: url(../sprites/steps_comm_sprite_basketball.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.alien {
  background-image: url(../sprites/basketball\ hoop.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: center;
  background-position-x: center;
}

.bomb {
  background-image: url(../sprites/charles-barkley-face.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.mothership {
  background-image: url(../sprites/dwight-howard-superman.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.barrier {
  background-image: url(../sprites/laker-logo.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.winscreen {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  height: 750px;
  width: 750px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../sprites/shaq-trophies.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
}
.finalscreen {
  margin: 200px;
}

.lossscreen {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 750px;
  width: 750px;
  background-image: url(../sprites/sad-shaq.jpeg);
  background-size: cover;
}

.footer {
  display: flex;
  height: 20vh;
}

button {
  padding: 20px;
  font-family: 'Bungee Shade', cursive;
  background-color: yellow;
  color: purple;
  border-radius: 5px solid;
  font-size: 25px;
  box-shadow: inset;
}

.gamegrid h1 {
  position: absolute;
  margin: 0;
  display: none;
}

.finalscreen {
  position: absolute;
  display: block;
  font-size: 24px;
  z-index: 10;
  color: yellow;
}

.hidden {
  display: none;
}

.shaqhit {
  background-image: url(../sprites/ShaqHit.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
}

.sidehoop {
  background-image: url(../sprites/hoop-side.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
}
